requests==2.31.0
beautifulsoup4==4.12.2
feedparser==6.0.10
newspaper3k==0.2.8
python-dotenv==1.0.0
pandas==2.1.4
matplotlib==3.8.2
seaborn==0.13.0
wordcloud==1.9.3
pytrends==4.9.2
lxml==4.9.3
html5lib==1.1
transformers==4.39.3
torch==2.2.2
sentence-transformers==2.6.1
scikit-learn==1.4.2
nltk==3.8.1
textblob==0.18.0
vaderSentiment==3.3.2
openai-whisper==20231117
groq==0.5.0
streamlit==1.29.0
plotly==5.17.0 